async-timeout
attrs
blinker
cachetools
certifi
charset-normalizer
cohere
colorama
dataclasses-json
decorator
docx2txt
faiss-cpu
filelock
frozenlist
fsspec
idna
importlib-metadata
jinja2
jsonschema-specifications
jsonschema
langchain
langchainplus-sdk
marshmallow-enum
marshmallow
multidict
mypy-extensions
numexpr
numpy
openpyxl
openai
openapi-schema-pydantic
packaging
pandas
pillow
protobuf
pyarrow
pycryptodome
pydantic
pydeck
pygments
pympler
pymupdf
python-dateutil
python-dotenv
pytz-deprecation-shim
pytz
pyyaml
referencing
regex
requests
six
sqlalchemy
streamlit
tiktoken
tokenizers
toml
toolz
tornado
tqdm
transformers
typing-extensions
typing-inspect
tzdata
tzlocal
urllib3
validators
watchdog
yarl
zipp
poetry
-e ./

